[submodule "eddyrivaslab.github.io"]
	path = eddyrivaslab.github.io
	url = git@github.com:EddyRivasLab/eddyrivaslab.github.io.git
[submodule "output"]
	path = output
	url = git@github.com:eddyrivaslab/eddyrivaslab.github.io.git
