[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
	fetchRecursiveSubmodules = true
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
	fetchRecursiveSubmodules = true

[submodule "astrochelys"]
	path = astrochelys
	url = https://github.com/out-of-cheese-error/astrochelys.git
[submodule "pelican-tufte"]
	path = pelican-tufte
	url = git@github.com:jAniceto/pelican-tufte.git
